<mat-dialog-content class="mat-typography">
  <form #frm="ngForm">
      <h3>{{title}}</h3>
      <hr />
      <div id="container-form">
        <div *ngFor="let element of dialog">
          <mat-form-field class="input-form">

            <mat-label>{{element.label}}</mat-label>

            <div>
              <input *ngIf="element.type != 'time' && element.type != 'date'" [(ngModel)]="formValue[element.name]" id={{element.id}} type={element.type}} name={{element.name}} required matInput>
              <input *ngIf="element.type == 'date'" (ngModelChange)="correctDate(element.id)" [(ngModel)]="formValue[element.name]" maxlength="10" pattern="[0-9]:[0-9]" id={{element.id}} type={element.type}} name={{element.name}} required matInput>
              <input *ngIf="element.type == 'time'" (ngModelChange)="correctTime(element.id)" [(ngModel)]="formValue[element.name]" maxlength="5" id={{element.id}} type={element.type}} name={{element.name}} required matInput>
            </div>

          </mat-form-field>
        </div>
        <button id="btn-submit" (click)="formSubmit()" mat-raised-button color="primary">{{title}}</button>
      </div>
  </form>
</mat-dialog-content>
