@use '../../../variables' as variables;

form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

#container-form, #container-extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-datetime{
    display: flex;
    align-items: center;
    gap: 15px;
}

#btn-submit{
    background-color: variables.$blue;
    border-radius: 10px;
}

#btn-extra{
    margin-top: 20px;
    color: #fff;
    background-color: variables.$red;
    border-radius: 10px;
}