@use '../../../variables' as variables;

form{
    padding: 10px;
    
    #btn-submit{
        width: 100%;
        background-color: variables.$blue;
        border-radius: 10px;
        color: #fff;
    }
}