@use '../../../variables' as variable;

.hidden{
    display: none !important;
}

.middle{
    margin: auto;
}

button{
    background-color: transparent;
    border: 0px;
    height: 40px;
    width: 100px;
}

#header{
    width: 90%;
    background-color: variable.$background-color-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 20px;

    border: 1px solid variable.$border-color;
    padding: 20px;
}

#logo{
    width: 60px;
    height: 60px;
    margin: 0px 30px;

    user-select: none;
    filter: invert(1);
}

#plus{
    display: flex;
    flex-direction: row;
    align-self: center;

    width: 20px;
    height: 20px;
    margin: 0px 12px 0px 0px;

    user-select: none;
    filter: invert(1);
}

#auth{
    display: flex;
    flex-direction: row;
    align-self: center;

    width: 46px;
    height: 46px;
    margin: 0px 0px 0px 50px;

    user-select: none;
    filter: invert(0);
}

.arrow{
    width: 40px;
    height: 40px;

    cursor: pointer;
}

.container-month{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 15px;

    user-select: none;
}

.text-menu{
    display: flex;
    align-self: center;
    font-size: 18px;
    color: #fff;
    margin: 0px 6px 0px 0px;

    user-select: none;
}