@use '../../../variables' as variable;

#header{
    width: 90%;
    background-color: variable.$background-color-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 20px;

    border: 1px solid variable.$border-color;
    padding: 20px;

    .hidden{
        display: none !important;
    }

    .middle{
        margin: auto;
    }

    #logo{
        width: 60px;
        height: 60px;
        margin: 0px 30px;

        user-select: none;
        filter: invert(1);
    }

    .container-month{
        display: flex;
        align-items: center;

        user-select: none;

        .arrow{
            width: 40px;
            height: 40px;
            padding: 30px;

            cursor: pointer;
        }
    }

    .container-actions{
        display: flex;
        align-items: center;
        gap: 30px;

        #button-add-lesson{
            display: flex;
            width: auto;
            height: 50px;
            padding: 20px;
            border-radius: 10px;
            background-color: variable.$blue;

            #plus{
                display: flex;
                flex-direction: row;
                align-self: center;

                width: 20px;
                height: 20px;
                margin-right: 12px;

                user-select: none;
                filter: invert(1);
            }

            .text-menu{
                display: flex;
                align-self: center;
                font-size: 18px;
                color: #fff;
                margin: 0px 6px 0px 0px;

                user-select: none;
            }
        }

        .auth{
            width: 46px;
            height: 46px;

            user-select: none;
            filter: invert(0);
        }

        button{
            background-color: transparent;
            border: 0px;
            height: 40px;
            width: 100px;
        }
    }
}