<div id="header">
    <a routerLink="/">
        <img id="logo" src="/logo.png" />
    </a>

    <h1>Fevereiro 2026</h1>

    <div style="display: flex; align-items: center;">
        <button style="display: flex; width: auto; height: 50px; padding: 20px; border-radius: 10px; background-color: #638cd9;" *ngIf="roleService.role() === 'teacher'" (click)="addLesson()">
            <img id="plus" src="/plus.svg" />
            <span class="text-menu">Nova Aula</span>
        </button>

        <button *ngIf="roleService.role() === 'off'"(click)="login()">
            <img id="auth" src="/person.svg" />
        </button>

        <button *ngIf="roleService.role() !== 'off'"(click)="logout()">
            <img id="auth" src="/logout.svg" />
        </button>
    </div>
</div>