<div id="container" *ngIf="informationLesson != null">
  <div id="container-elements">
    <div style="display: flex; justify-content: end">
      <p>{{informationLesson.current_quantity}} de {{informationLesson.max_quantity}}</p>
    </div>

    <br />

    <h3>{{informationLesson.date}}</h3>
    <br />
    <h3>Aula: {{informationLesson.name}}</h3>

    <br />
    <hr />
    <br />

    <div style="display: flex; justify-content: space-around">
      <p>{{informationLesson.time_start}} até {{informationLesson.time_finish}}</p>
    </div>

    <div class="elements">
      <p>Professor: {{informationLesson.teacher}}</p>
      <p *ngIf="informationLesson.students != ''">Alunos ingressados: {{informationLesson.students}}</p>
    </div>


    <div *ngIf="roleService.role() == 'student'" class="elements">
      <button *ngIf="informationLesson.is_join == false" (click)="joinLesson()" mat-raised-button color="primary">Ingressar</button>
      <button *ngIf="informationLesson.is_join == true" (click)="leaveLesson()" mat-raised-button color="primary">Sair da aula</button>
    </div>

    <div *ngIf="roleService.role() == 'teacher'" class="elements">
      <button (click)="editLesson()" mat-raised-button color="primary">Editar aula</button>
      <button (click)="deleteLesson()" mat-raised-button color="primary">Excluir aula</button>
    </div>
  </div>
</div>
<div id=container *ngIf="informationLesson == null">
  <div id="container-elements">
    <h3>Aula não encontrada</h3>
  </div>
</div>
