@use '@ngxpert/hot-toast/styles';
@use 'variables' as variable;

*{
    padding: 0px;
    margin: 0px;
}

#root{
    min-height: 100dvh;
    width: 100%;

    background: variable.$background-color-primary;
}

.cdk-overlay-pane{
    border: 1px solid #000;
    background-color: #fff;
}