<div id="container">
    <div id="container-calendar">
        <div id="calendar">
            <div *ngFor="let day of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']" class="day-of-the-week">{{day}}</div>
            <div id="day-{{lesson_info.day}}"
                class="container-days"
                [class.lesson-selected]="lessonService.isLessonSelected(lesson_info.day, lesson_info.current_month)"
                [class.days-outside-month]="!lesson_info.current_month"
                (click)="lessonService.selectLesson(lesson_info.day, lesson_info.current_month)"
                *ngFor="let lesson_info of lessonService.lessons_calender()">
                <div class="days">
                    <p>{{(lesson_info.day < 10) ? ('0' + lesson_info.day) : lesson_info.day}}</p>
                </div>
                <div class="notification-with-lesson" *ngIf="lesson_info.with_lesson == true"></div>
            </div>
        </div>
    </div>
    <div id="container-menu">
        <h2>Detalhes da Aula</h2>
        <br /><hr />
        <p *ngIf="lessonService.lesson_of_the_day.length === 0">Não tem lição nesse dia</p>
        <div *ngIf="lessonService.lesson_of_the_day.length > 0">
            <div class="container-menu-lesson" *ngFor="let lesson of lessonService.lesson_of_the_day">
                <div class="notificaion" *ngIf="(roleService.role() == 'student' && lesson.your_lesson)">Ingressado</div>
                <div class="notificaion" *ngIf="(!lesson.your_lesson && (lesson.current_quantity >= lesson.max_quantity))">Aula cheia</div>
                <h3 class="lesson-name">Aula: {{lesson.name}}</h3>
                <div class="container-lesson-details">
                    <p class="text-lesson-details">Horário de início: {{lesson.timestamp_lesson_start | date:'HH:mm'}}</p>
                    <p class="text-lesson-details">Horário de término: {{lesson.timestamp_lesson_finish | date:'HH:mm'}}</p>
                    <p class="text-lesson-details">Professor: {{lesson.teacher}}</p>
                    <p class="text-lesson-details">Aluno ingressados: {{(lesson.students && lesson.students.length > 0) ? lesson.students : 'Nenhum'}}</p>
                    <p class="text-lesson-details">Quantidade ingressada: {{lesson.current_quantity}}</p>
                    <p class="text-lesson-details">Quantidade máxima: {{lesson.max_quantity}}</p>
                </div>
                <div class="container-lesson-actions">
                    <button (click)="joinLesson(lesson.id)" class="button-lesson-actions-blue" mat-raised-button *ngIf="(lesson.your_lesson == false) && (roleService.role() == 'student') && (lesson.timestamp_lesson_start > lessonService.currentTimestamp)">Ingressar</button>
                    <button (click)="leaveLesson(lesson.id)" class="button-lesson-actions-red" mat-raised-button *ngIf="((lesson.your_lesson == true) && (roleService.role() == 'student') && (lesson.timestamp_lesson_start > lessonService.currentTimestamp))">Desingressar</button>
                    <p class="notice" mat-raised-button *ngIf="((roleService.role() == 'student') && (lesson.timestamp_lesson_start < lessonService.currentTimestamp))">Não é possível ingressar, já passo o prazo</p>
                    <button (click)="editLesson(lesson.id)" class="button-lesson-actions-blue" mat-raised-button *ngIf="(roleService.role() == 'teacher' && lesson.your_lesson)">Editar</button>
                    <button (click)="deleteLesson(lesson.id)" class="button-lesson-actions-red" mat-raised-button *ngIf="(roleService.role() == 'teacher' && lesson.your_lesson)">Deletar</button>
                </div>
                <br /><hr /><br />
            </div>
        </div>
    </div>
</div>
