<div style="display: flex; justify-content: space-between; width: 90%; margin: auto; padding: 30px;">
    <div id="container-calendar">
        <div id="calendar">
            <div style="border-radius: 10px 0px 0px 0px" class="day-of-the-week">Dom</div>
            <div class="day-of-the-week">Seg</div>
            <div class="day-of-the-week">Ter</div>
            <div class="day-of-the-week">Qua</div>
            <div class="day-of-the-week">Qui</div>
            <div class="day-of-the-week">Sex</div>
            <div style="border-radius: 0px 10px 0px 0px" class="day-of-the-week">Sáb</div>
            <div id="day-{{element_information.day}}" class="datas {{(lessonService.current_day == element_information.day) ? 'lesson-selected' : ''}}" (click)="lessonService.selectLesson(element_information.day)" style="display: block; position: relative; grid-template-columns: repeat(7, 80px);" *ngFor="let element_information of lessonService.elements_information()">
                <div style="position: relative;" class="dia">
                    <p>{{(element_information.day < 10) ? ('0' + element_information.day) : element_information.day}}</p>
                </div>
                <div style="position: absolute; top: 10px; right: 5px;" class="lesson" *ngIf="element_information.lesson == true"></div>
            </div>
        </div>
    </div>
    <div id="container-menu">
        <h2>Detalhes da Aula</h2>
        <br /><hr /><br />
        <p *ngIf="lessonService.lesson_of_the_day.length === 0">Não tem lição nesse dia</p>
        <div *ngIf="lessonService.lesson_of_the_day.length > 0">
            <div style="position: relative; margin-bottom: 20px;" *ngFor="let lesson of lessonService.lesson_of_the_day">
                <div style="position: absolute; top: -8px; right: 0px; background-color: #92cfb5; padding: 5px; border-radius: 30px; margin-bottom: 10px;" *ngIf="lesson.is_ingressed">Ingressado</div>
                <div style="position: absolute; top: -8px; right: 0px; background-color: #cf9292; padding: 5px; border-radius: 30px; margin-bottom: 10px;" *ngIf="(!lesson.is_ingressed && (lesson.current_quantity >= lesson.max_quantity))">Aula cheia</div>
                <h3 style="text-align: center; margin-bottom: 20px;">Aula: {{lesson.name}}</h3>
                <div style="display: flex; justify-content: space-around; gap: 20px;">
                    <div>
                        <p style="margin-bottom: 20px;">Quantidade ingressada: {{lesson.current_quantity}}</p>
                        <p style="margin-bottom: 20px;">Horário de início: {{lesson.timestamp_lesson_start | date:'shortTime'}}</p>
                        <p style="margin-bottom: 20px;">Professor: {{lesson.teacher}}</p>
                    </div>
                    <div>
                        <p style="margin-bottom: 20px;">Quantidade máxima: {{lesson.max_quantity}}</p>
                        <p style="margin-bottom: 20px;">Horário de término: {{lesson.timestamp_lesson_finish | date:'shortTime'}}</p>
                        <p style="margin-bottom: 20px;">Aluno ingressados: {{(lesson.students && lesson.students.length > 0) ? lesson.students.join(', ') : 'Nenhum'}}</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-around; gap: 20px;">
                    <button (click)="joinLesson(lesson.id)" style="margin: 10px; padding: 20px; background-color: #5c85d7; border-radius: 10px;" mat-raised-button *ngIf="(lesson.is_ingressed == undefined) && (roleService.role() == 'student')">Ingressar</button>
                    <button (click)="leaveLesson(lesson.id)" style="margin: 10px; padding: 20px; background-color: #d75c5c; border-radius: 10px;" mat-raised-button *ngIf="((lesson.is_ingressed == true) && (roleService.role() == 'student'))">Desingressar</button>
                </div>
                <hr style="margin-bottom: 30px;" />
            </div>
        </div>
    </div>
</div>